@import url('https://webfontworld.github.io/NexonMabinogi/MabinogiClassic.css');

* {
    margin: 0;
    overflow: 0;
    box-sizing: border-box;
    font-family: 'MabinogiClassic';
    cursor: none;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#header {
    position: fixed;
    width: 100%;
    background: rgba(230, 68, 74, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}
#header h1 {
    font-size: 20px;
    color: #fff;
    padding: 12px 0 5px 0;
    font-weight: normal;
}
#header .time {
    color: #fff;
    margin-top: 6px;
}
/* mouseType */
.mouse__cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    z-index: 1;
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    user-select: none;
    pointer-events: none;
}
.mouse__cursor img {
    width: 32px;
    height: 32px;
}
.icon01 {
    position: absolute;
    left: 30px;
    top: 50px;
    width: 54px;
}
.icon01 img {
    width: 100%;
}
.icon01 span {
    display: block;
    color: #586BB1;
    font-size: 14px;
    padding: 1px 0;
    white-space: nowrap;
    text-align: center;
}

.icon02 {
    position: absolute;
    left: 30px;
    top: 150px;
    width: 54px;
}
.icon02 img {
    width: 100%;
}
.icon02 span {
    display: block;
    color: #586BB1;
    font-size: 14px;
    padding: 1px 0;
    white-space: nowrap;
    text-align: center;
}

.icon03 {
    position: absolute;
    left: 30px;
    top: 250px;
    width: 54px;
}
.icon03 img {
    width: 100%;
}
.icon03 span {
    display: block;
    color: #586BB1;
    font-size: 14px;
    padding: 1px 0;
    white-space: nowrap;
    text-align: center;
}

.icon04 {
    position: absolute;
    left: 30px;
    top: 350px;
    width: 54px;
}
.icon04 img {
    width: 100%;
}
.icon04 span {
    display: block;
    color: #586BB1;
    font-size: 14px;
    padding: 1px 0;
    white-space: nowrap;
    text-align: center;
}

.icon05 {
    position: absolute;
    left: 30px;
    top: 450px;
    width: 54px;
}
.icon05 img {
    width: 100%;
}
.icon05 span {
    display: block;
    color: #586BB1;
    font-size: 14px;
    padding: 1px 0;
    white-space: nowrap;
    text-align: center;
}

.icon06 {
    position: absolute;
    left: 30px;
    top: 550px;
    width: 54px;
}
.icon06 img {
    width: 100%;
}
.icon06 span {
    display: block;
    color: #586BB1;
    font-size: 14px;
    padding: 1px 0;
    white-space: nowrap;
    text-align: center;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(229, 67, 72, 0.702);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    color: #fff;
}
#footer .agent {
    padding-top: 2px;
    font-size: 14px;
}
.mac #footer {}
.window #footer {}